.sidebar{
    background-color: #7de55a5c;
    overflow-y: hidden;
    width: 100vw;
    height: auto;
    padding: 15px;
}

@media (min-width: 576px) {
    .sidebar {
        height: calc(100vh - 50px);
        width: 176px;
    }
}

.header {
    height: 50px;
    width: 100vw;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.content {
    min-width: 400px;
    padding: 20px;
}

.page-wrapper {
    /* overflow-x: hidden; */
}