.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-name {
    cursor: default;
    color: black;
}

/* 
.file-tag {
    cursor: default;
    color: black;
    font-weight: 600;
} */

.icon-action {
    cursor: pointer;
}

.upload-container {
    border: 1px dashed #ccc;
    border-radius: 10px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.upload-container.drag-active {
    border-color: #000;
}

.upload-content {
    text-align: center;
    /* text-align: left; */
}

.upload-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}