.custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border: 0px;
}

.custom-pagination-item {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
    margin: 0 0.15rem;
}

.custom-pagination .active {
    background-color: #f9f9f9;
}

.custom-pagination .disabled {
    opacity: 0.5;
}